<html>
  <head>
    <title>
      Dashboard
    </title>
  </head>
  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
  <script src="https://cdn.jsdelivr.net/npm/d3@7.6.1/dist/d3.min.js"></script>
  <script src="common.js"></script>
  <link rel="stylesheet" href="/static/style.css" type="text/css" />
  <style>
    .prefixes {
        display: flex;
        flex-direction: row-reverse;
    }
    .prefix {
        background-color: #9999ee;
        border: 1px solid gray;
        max-width: 12em;
        margin: 4px;
        padding: 2px;
    }
    .prefix:hover {
        background-color: #bbbbff;
    }
    .box {
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box .title {
        text-decoration: none;
        color: #222;
    }
    .box:hover {
        border: 1px solid #ccc;
        background-color: #eee;
    }
  </style>

  <body>
    <p class="menu"><a href="/">Home</a></p>
    <p class="metadata">
      <h1>Dashboard</h1>
      <div class="prefixes"></div>
    </p>

    <div class="dashboard">
    </div>

    <script>
      // Code from https://observablehq.com/@tophtucker/chatterjee-correlation
      let chatterjee = (data, { x = (d) => d[0], y = (d) => d[1] } = {}) => {
          // 0. Extract values
          const X = d3.map(data, x);
          const Y = d3.map(data, y);
          const N = X.length;

          // 1. rearrange along X
          const I = d3.sort(d3.range(N), (i) => X[i]);

          // 2. rank Y
          const rank = d3.rank(Y);

          // 3. compute ξ (simple formula with no ties)
          return (
              1 -
                  (3 / (N * N - 1)) *
                  d3.sum(d3.pairs(I), ([a, b]) => Math.abs(rank[a] - rank[b]))
          );
      };

      let merged_viz = (session, data) => {
          let box = document.createElement('div');
          let norm_data = normalized_data(data);
          let chatter = chatterjee(norm_data, {
              x: (d) => d.proceeding,
              y: (d) => d.media,
          });
          box.classList.add('box');
          box.dataset.session = session;
          box.style.order = session;
          box.setHTML(`<a target="_blank" href="/static/transcript.html?session=${session}" class="title">Session ${session}</a><br>Chatterjee: ${chatter.toFixed(3)}`);
          let viz = document.createElement('div');
          viz.classList.add('chart');
          box.appendChild(viz);
          var yourVlSpec = {
              $schema: 'https://vega.github.io/schema/vega-lite/v5.json',
              width: "container",
              height: "container",
              description: 'Indexes',
              data: {
                  values: norm_data
              },
              mark: { type: 'point',
                      shape: 'square',
                  tooltip: true,
                      filled: true },
              encoding: {
                  x: {
                      field: 'proceeding',
                      type: 'quantitative',
                  },
                  y: {
                      field: 'media',
                      type: 'quantitative',
                  },
              },
          };
          vegaEmbed(viz,
                    yourVlSpec,
                    {
                        "actions": false
                    });
          return box;
      }

      function display_filename(filename) {
          let session = filename.substr(0, 5);
          fetch(`/data/merged/${filename}`)
              .then(resp => resp.json())
              .then(data => {
                  let viz = merged_viz(session, data);
                  document.querySelector('.dashboard').appendChild(viz);
              });
      }

      fetch('/data/merged')
      .then(resp => resp.text())
      .then(dircontent => {
          filelist = dircontent
              .split(/\n/)
              .filter(n => n.endsWith('-merged.json'));
          // Group by 3 letter prefix
          let prefixes = [ ... new Set(filelist.map(n => n.substr(0, 3))) ];

          let display_prefix = (prefix) => {
              filelist.filter(n => n.startsWith(prefix)).forEach(filename => {
                  display_filename(filename);
              });
          };
          prefixes.forEach(prefix => {
              let button = document.createElement('div');
              button.classList.add('prefix');
              button.dataset.prefix = prefix;
              button.append(`Display sessions starting with ${prefix}`);
              button.addEventListener('click', b => {
                  display_prefix(prefix);
                  b.target.remove();
              });
              document.querySelector('.prefixes').appendChild(button);
          });

      });

    </script>
  </body>
</html>
