body {
    font-family: sans;
}

.status {
    font-style: italic;
    font-weight: bold;
}

.speaker {
    font-style: italic;
}
.text {
    color: #999;
}
.player {
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 200px;
}
.menu {
    position: fixed;
    bottom: 0;
    right: 0;
}
.hidden {
    display: none;
}
.speechTitle {
    font-size: 140%;
    cursor: pointer;
}
.status {
    cursor: pointer;
}
.transcript {
    width: 50%;
}
.charts {
    position: absolute;
    top: 220px;
    right: 0;
    left: 50%;
    bottom: 0;
}
.chart {
    width: 100%;
    height: 50vh;
}
.dashboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.dashboard .chart {
    width: 10vw;
    height: 10vw;
}
