<html>
<head>
<title>Index of sessions</title>
</head>
<body>
  <h1>Index of sessions</h1>
  <ul>
    {{#merged_files}}
    <li><a href="view/{{name}}">{{name}}</a></li>
    {{/merged_files}}
  </ul>
</body>
</html>
